.App {
  text-align: center;
  background-color: #000000;
  overflow-x: hidden;
}

.App-header {
  background-color: #000000;
  padding: 5px;
  color: white;
}

.App-footer {
  background-color: #000000;
  color: white;
  padding: 20px;
  width: 100%;
  text-align: center;
  bottom: 0;
}

.gallery {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery img {
  margin: 10px;
  max-width: 400px;
  height: auto;
  border-radius: 2.5%;
  transition: transform 0.2s; /* Smooth transition for hover effect */
  cursor: pointer;
}

.gallery img:hover {
  transform: scale(1.05); /* Slightly enlarge the image on hover */
}

.lightbox {
  display: flex; /* Ensure the lightbox is displayed */
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Prevent scrolling */
  background-color: rgba(0, 0, 0, 0.9); /* Black background with opacity */
}

.lightbox-content {
  margin: auto;
  display: block;
  max-width: 90%;
  max-height: 90%;
  position: relative; /* Ensure navigation buttons are positioned correctly */
}

.lightbox-content img {
  width: auto;
  max-width: 100%;
  max-height: 90vh; /* Constrain height to 90% of the viewport */
  border-radius: 2.5%;
}

.lightbox-content p {
  font-family: 'DM Mono';
  color: #ccc;
}

.lightbox-close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

lightbox-close:hover,
.lightbox-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.lightbox-nav {
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.3s;
  user-select: none;
  cursor: pointer;
}

.lightbox-nav:hover,
.lightbox-nav:focus {
  color: #bbb;
}

.lightbox-nav-prev {
  left: 0;
}

.lightbox-nav-next {
  right: 0;
}