@import url("https://fonts.googleapis.com/css2?family=DM+Mono&display=swap");

body {
  margin: 0;
  font-family: 'DM Mono', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: white;
}
h2{
  font-family: 'helvetica', sans-serif;
  font-size: 2.5em;
  font-weight: 100;
  letter-spacing: 0.2em;
  color: whitesmoke;
}
h3{
  font-family: 'DM Mono', sans-serif;
  font-size: 1.2em;
  font-weight: 200;
}

p{
  font-family: 'DM Mono', sans-serif;
  font-size: 1.2em;
  font-weight: 200;
  color: whitesmoke;
  padding: 5px;
}

a {
  color: rgb(220, 220, 220);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
